
@model WebApplication1.Models.GuestResponse
@{
    ViewData["Title"] = "RsvpForm";
}

<h1>RsvpForm</h1>

<form method="POST" asp-action="RsvpForm">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name">Your Name:</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Email">Your Email:</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Phone">Your Phone:</label>
        <input asp-for="Phone" />
    </div>
    <div>
        <label>Will you attend?</label>
        <select asp-for="WillAttend">
            <option value="">Choose an option</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <input type="submit" value="Submit" />
</form>